<!-- <div class="jumbotron" style="background-color: burlywood">
   <h1 class="display-2 text-center">Add or Edit your student here !</h1>
   <p class="lead text-center"> Student profile </p>
 </div>   -->
 
<!-- <h1 class="text-center">Add Student!</h1> -->
<!-- <div class="container col-5" style="background-color: burlywood">
    <div class="row ">
 
     <form (ngSubmit)="savedStudent()">
 
      <div class="col-6">
         <div class="form-group">
             <input type="text" class="form-control col-6" placeholder="Enter first name" name="firstName"[(ngModel)]='newStudent.firstName'>
         </div>
      </div>
      
      <div class="col-6">
         <div class="form-group">
            <input type="text" class="form-control col-6" placeholder="Enter last name" name="lastName"[(ngModel)]='newStudent.lastName'>
         </div>
      </div>  

      <div class="col-6">
         <div class="form-group">
            <input type="text" class="form-control col-6" placeholder="studentID" name="studentID"[(ngModel)]='newStudent.studentID'>
         </div>
      </div>   

      <div class="col-6">
         <div class="form-group">
            <input type="text" class="form-control col-6" placeholder="grade level" name="gradeLevel"[(ngModel)]='newStudent.gradeLevel'>
         </div>
      </div>   

      <div class="col-6">
         <div class="form-group">
            <input type="text" class="form-control col-6" placeholder="email" name="email"[(ngModel)]='newStudent.email'>
         </div>
      </div>   

      <div class="col-6">
         <div class="form-group">
            <input type="text" class="form-control col-6" placeholder="dateOfBirth" name="dateOfBirth"[(ngModel)]='newStudent.dateOfBirth'>
         </div>
      </div>
      
      <div class="col-6">
         <div class="form-group">
            <input type="text" class="form-control col-6" placeholder="emergencyContactNumber" name="emergencyContactNumber"[(ngModel)]='newStudent.emergencyContactNumber'>
         </div>
      </div>   

         <div class="form-row r">
         <button type="submit" class="btn btn-primary ">Submit!</button>
      
 <hr>
         <button (click)="deletedStudent(newStudent.id)" class="btn btn-danger">Delete</button>
<hr>
         <button type="submit" class="btn btn-success">Back To Home</button>
      </div>   
     </form>
 
    </div>
 </div>
</div> -->



<div class="jumbotron" style="background-color: black;">
<div class="container-sm bg-light">
   <div class="bg-dark">
       <h3 class="bg-dark border border-dark text-center text-light">Student Portal</h3>
       <br>
   </div>
   <form (ngSubmit)="savedStudent()" class="bg-secondary">
       <div class="form-group p-md-5">
           <div class="row g-3 justify-content-evenly">
              <div class="col-3">
            <div class="form-group">
               <label>First Name</label>
               <input 
               class="form-control col-6" 
               type="text" name="firstName" #firstName 
               [(ngModel)]="newStudent.firstName"
               [ngClass]="{'is-invalid':newStudentFirstName.errors && newStudentFirstName.touched}"
               #newStudentFirstName="ngModel"
               required
               minlength="2"
               >
               <div [hidden]="!newStudentFirstName.errors?.required" class="invalid-feedback">
                   First Name Required
               </div>
               <div [hidden]="!newStudentFirstName.errors?.minlength" class="invalid-feedback">
                   Must be at least 2 letters
               </div>
           </div>
         </div>

               <div class="col-3">
                  <div class="form-group">
                      <label>Last Name</label>
                      <input 
                      class="form-control col-6" 
                      type="text" name="lastName" #lastName
                      [(ngModel)]="newStudent.lastName"
                      [ngClass]="{'is-invalid':newStudentLastName.errors && newStudentLastName.touched}"
                      #newStudentLastName="ngModel"
                      required
                      minlength="2"
                      >
                      <div [hidden]="!newStudentLastName.errors?.required" class="invalid-feedback">
                          Last Name Required
                      </div>
                      <div [hidden]="!newStudentLastName.errors?.minlength" class="invalid-feedback">
                          Must be at least 2 letters
                      </div>
                  </div>
              </div>


           <div class="row g-3 justify-content-evenly">
            <div class="col-3">
               <div class="form-group">
                   <label>Student ID</label>
                   <input 
                   class="form-control col-6" 
                   type="text" 
                   inputmode="numeric"
                   name="studentID" #studentID
                   [(ngModel)]="newStudent.studentID"
                   [ngClass]="{'is-invalid':newStudentStudentID.errors && newStudentStudentID.touched}"
                   #newStudentStudentID="ngModel"
                   required
                   pattern="^[0-9]*$"
                   minlength="6"
                   >
                   <div [hidden]="!newStudentStudentID.errors?.required" class="invalid-feedback">
                       Student ID Required
                   </div>
                   <div [hidden]="!newStudentStudentID.errors?.minlength" class="invalid-feedback">
                       Must be at least 6 numbers
                   </div>
                   <div [hidden]="!newStudentStudentID.errors?.pattern" class="invalid-feedback">
                       Must be at least 6 numbers
                   </div>
               </div>
           </div>



               <div class="col-3">
                  <div class="form-group">
                      <label>Email</label>
                      <input 
                      class="form-control col-6" 
                      type="text" name="email" #email
                      [(ngModel)]="newStudent.email"
                      [ngClass]="{'is-invalid':newStudentEmail.errors && newStudentEmail.touched}"
                      #newStudentEmail="ngModel"
                      required
                      minlength="6"
                      >
                      <div [hidden]="!newStudentEmail.errors?.required" class="invalid-feedback">
                          Email Required
                      </div>
                      <div [hidden]="!newStudentEmail.errors?.minlength" class="invalid-feedback">
                          Must be at least 6 characters
                      </div>
                  </div>
              </div>
           </div>


           <div class="row g-3 justify-content-evenly">
            <div class="col-3">
               <div class="form-group">
                   <label>Grade Level</label>
                   <input 
                   class="form-control col-6" 
                   type="number" name="gradeLevel" #gradeLevel
                   inputmode="numeric"
                   [(ngModel)]="newStudent.gradeLevel"
                   [ngClass]="{'is-invalid':newStudentGradeLevel.errors && newStudentGradeLevel.touched}"
                   #newStudentGradeLevel="ngModel"
                   required
                   pattern="^[0-9]*$"
                   minlength="1"
                   >
                   <div [hidden]="!newStudentGradeLevel.errors?.required" class="invalid-feedback">
                       Grade Level Required
                   </div>
                   <div [hidden]="!newStudentGradeLevel.errors?.minlength" class="invalid-feedback">
                       Must be at least 1 number
                   </div>
                   <div [hidden]="!newStudentGradeLevel.errors?.pattern" class="invalid-feedback">
                       Must be at least 1 number
                     </div>
               </div>
           </div>


               <div class="col-3">
                  <div class="form-group">
                      <label>Date Of Birth</label>
                      <input 
                      class="form-control col-6" 
                      type="date" name="dateOfBirth" #dateOfBirth
                      inputmode="numeric"
                      [(ngModel)]="newStudent.dateOfBirth"
                      [ngClass]="{'is-invalid':newStudentDateOfBirth.errors && newStudentDateOfBirth.touched}"
                      #newStudentDateOfBirth="ngModel"
                      required
                      minlength="8"
                      >
                      <div [hidden]="!newStudentDateOfBirth.errors?.required" class="invalid-feedback">
                          Student Date of Birth Required
                      </div>
                      <div [hidden]="!newStudentDateOfBirth.errors?.minlength" class="invalid-feedback">
                          Must be 8 numbers
                      </div>
                  </div>
              </div>
           </div>


           <div class="col-3">
            <div class="form-group">
                <label>Emergency Contact Number</label>
                <input 
                class="form-control col-6" 
                type="text" name="emergencyContactNumber" #emergencyContactNumber
                inputmode="numeric"
                [(ngModel)]="newStudent.emergencyContactNumber"
                [ngClass]="{'is-invalid':newStudentEmergencyContactNumber.errors && newStudentEmergencyContactNumber.touched}"
                #newStudentEmergencyContactNumber="ngModel"
                required
                pattern="[0-9]*$"
                minlength="10"
                >
                <div [hidden]="!newStudentEmergencyContactNumber.errors?.required" class="invalid-feedback">
                    Emergency Contact Required
                </div>
                <div [hidden]="!newStudentEmergencyContactNumber.errors?.minlength" class="invalid-feedback">
                    Must be at least 10 numbers
                </div>
            </div>
        </div>


           <div class="row g-3 justify-content-evenly" id="two-buttons">
               <div class="col-3">        
                   <button  type="submit" class="btn btn-lg btn-success" id="save">Save</button>
                   <button type="submit" class="btn btn-lg btn-warning" id="update">Update</button>
               </div>

               
               <div class="col-3">
                  <button type="submit" class="btn btn-lg btn-dark">Back To Home</button>
                   <button (click)="deletedStudent(newStudent.id)" class="btn btn-lg btn-danger">Delete</button>
               </div>
           </div>
       </div>
       </div>
   </form>

    <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify"> <i>GREAT WOLF SCHOOL DISTRICT </i> is a public school district that opened 2020, that strives to do what they can for their students to succeed. We offer plenty of tutoring and other resources for every students desire and way of learning.
            We also offer lots of different extra curricular activities to allow students to express themselves and enjoy their time here.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li>Sports</li>
              <li>Clubs</li>
              <li>Teams</li>
              <li>Band</li>
              <li>Color Guard</li>
              <li>Rotc</li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li>About Us</li>
              <li>Contact Us</li>
              <li>Contribute</li>
              <li>Privacy Policy</li>
              <li>SiteMap</li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
         <a href="#">Great Wolves School District</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>

</div>
</div>