<!-- <h3 class="text-center">View the students</h3>
<-- structural directive and string interpolation-->

 <div class="jumbotron" style="background-color: gray">
     <h1 class="display-1 text-center ">Welcome to Great Wolves!</h1>
    <p class="lead text-center text-light">View your students profile , edit your students info or add a new student!</p>
    <hr class="my-4">

    <!-- <div class="card 8text-center">
    <p class="lead">
        <a routerLink="/add-student" class="btn btn-secondary">Add student</a>
    </p>
</div> -->

<div class="card bg-dark    ">
    <a routerLink="/add-student" class="btn btn-dark text-light">Add Student</a>
</div>

  <!-- <div class="jumbotron" style="background-image: url(https://previews.123rf.com/images/bazzier/bazzier1802/bazzier180200086/95001352-head-of-wolf-mascot.jpg); background-size: 100%;">
    <div class="container for-about">
    <h1>About</h1>
    </div>
 </div> -->

<div class="container">

    <!-- <div class="row">
        <div class="col-4">
            <a routerLink="/add-student" class="btn btn-primary">Add student</a>
        </div>
    </div> -->

    <div *ngFor="let student of students" class="text-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
             
            <div class="text-center">
                <img src="assets/images/wolfmascot.jpg" class="card-img-top" height="350" width="250">
            </div>    

                    {{student.firstName}}
                    {{student.lastName}}
                </h5>
                <p class="card-text">
                   Student ID: {{student.studentID}}
                   Grade Level: {{student.gradeLevel}}
                </p>

                <a routerLink="/edit-student/{{student.id}}"class="btn btn-lg btn-success">View Student</a>

                <button (click)="deletedStudent(student.id)" class="btn btn-lg btn-danger">Delete Student</button>
            </div>
        </div>
    </div>
</div>
</div> 

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify"> <i>GREAT WOLF SCHOOL DISTRICT </i> is a public school district that opened 2020, that strives to do what they can for their students to succeed. We offer plenty of tutoring and other resources for every students desire and way of learning.
          We also offer lots of different extra curricular activities to allow students to express themselves and enjoy their time here.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li>Sports</li>
            <li>Clubs</li>
            <li>Teams</li>
            <li>Band</li>
            <li>Color Guard</li>
            <li>Rotc</li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li>About Us</li>
            <li>Contact Us</li>
            <li>Contribute</li>
            <li>Privacy Policy</li>
            <li>SiteMap</li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">Great Wolves School District</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>