<!-- <h1 class="text-center">Students</h1> -->

<!-- <hr> -->

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Great Wolf Student portal</span>
  </nav>

<!-- enables  our routing for our angular application -->
<router-outlet></router-outlet>